html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    color: #999;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    height: 100%;
    width: 100%;
    line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 45px;
    line-height: 45px;
}

h2 {
    font-size: 35px;
    line-height: 35px;
}

h3 {
    font-size: 30px;
    line-height: 30px;
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

a,
a:focus {
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
/** 2. PRELOADER
 *****************************************************************/

#prelaoder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 1);
    z-index: 1000;
}

.spinner {
    position: fixed;
    width: 100%;
    top: 100%;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner {
    position: absolute;
    top: -100px;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0px solid white;
    background-image: url('assets/img/ajax-loader.gif');
    margin: auto;
    opacity: 0.5;
}

.spinner {
    width: 150px;
    height: 50px;
}

.spinner-inner {
    /*
	width: 10px;
	height: 10px;
	-webkit-animation: spinback 1.2s linear 0s infinite normal;
	-moz-animation: spinback 1.2s linear 0s infinite normal;
	animation: spinback 1.2s linear 0s infinite normal;
*/
}

a.webshop {
    border-radius: 3px;
    padding: 6px 11px;
    font-size: 15px!important;
    color: black!important;
    background: white!important;
}

a.webshop:hover {
    opacity: 0.9!important;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinback {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes spinback {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes spinback {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}
/** 3. MISC
 *****************************************************************/

#bg-darker {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#bg-pattern {
    background: url("../img/pattern.png") repeat fixed !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 1;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.tubular-mute {
    top: 20px;
    right: 20px;
    margin: 0 0 0 -15px;
    position: fixed;
    z-index: 10;
    width: 30px;
    height: 30px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #666;
    color: #666;
    cursor: pointer;
}

.tubular-mute:hover {
    color: #fff;
}

.modal-title {
    color: #999;
    margin-bottom: 5px!important;
    font-weight: 700;
}

.modal-dialog {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.modal-content {
    background-color: #000;
}

.modal-body {
    background-color: #fff;
    opacity: 0.95;
    text-align: center;
}

.modal-body-track {
    background-color: #fff;
    padding: 15px 20px 30px 20px;
}

.modal-header {
    opacity: 0.95;
    background-color: #fff;
}
/** 4. HOME
 *****************************************************************/

#home {
    overflow: hidden !important;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.logo1 {
    opacity: 1;
    width: 30%;
    margin-top: -9%;
}


.logo4 {
    max-width: 150px;
    margin-bottom: 10px;
}

.logo2 {
    max-width: 150px;
    opacity: 1;

    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.logo2:hover {
    max-width: 250px;
    opacity: 1;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(7deg);
}

.photos li {
    list-style-type: none;
}

.content-block {
    opacity: 0;
    padding-left: 0px !important;
    overflow: hidden !important;
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 100px;
}

.content-block img:nth-child(2) {
    margin-bottom: 2px;
}

.content-block hr.logo {
    margin: 0 auto 5px 0;
    display: block;
    width: 150px;
    height: 1px;
    border: none;
    margin-top: 5px;
    background: #FFC801;
}

.content-block hr.large {
    margin: 0 auto 0 0;
    display: block;
    max-width: 900px;
    height: 1px;
    border: none;
    margin-top: 5px;
    background: #FFC801;
}

.content-block p {
    line-height: 25px;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}

.content-block h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.content-block h1 span {
    color: #FFC801;
}

.content-block h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.content-block h4 i {
    vertical-align: middle !important;
    margin-left: 8px;
    font-size: 35px;
    color: #FFC801;
    cursor: pointer;
}

.content-block h4:hover {
    color: #FFC801;
}

#footer {
    display: none;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 0px;
    text-align: center;
}

#footer p {
    color: #666;
    display: inline-block;
    line-height: 65px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

#footer a p {
    text-transform: uppercase;
    color: #fff;
}
/** 5. OVERLAY
 *****************************************************************/

#overlay {
    display: none;
    background: rgba(0, 0, 0, 0.6) url('../img/pattern-overlay.png');
    position: absolute !important;
    overflow: hidden;
    width: 100%;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}

.overlay-content {
    display: none;
    min-height: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#open-contact,
#close-contact {
    border: none;
    background: rgba(0, 0, 0, 0);
    outline: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 49px !important;
    width: 49px !important;
    margin-left: -24.5px !important;
    margin: 0;
    padding: 0;
    font-size: 57px;
    line-height: 57px;
}

#open-contact {
    display: none;
    color: #000;
    background: rgba(255, 255, 255, 1);
}

#close-contact {
    color: #fff;
    background: rgba(0, 0, 0, 1);
}

#close-overlay {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    color: rgba(0, 0, 0, 0);
    outline: none;
}
/** 6. ABOUT
 *****************************************************************/

#overlay-about .container {
    text-align: center;
    margin-top: 2%;
}

#overlay-about h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#overlay-about p {
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
}

#overlay-about h5 {
    margin-bottom: 15px;
}

.subscribe-form {
    display: inline-block;
    border: rgba(255, 255, 255, 0.4) 4px solid;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.4);
}

.subscribe-form:after {
    padding-bottom: 50px;
    padding-right: 100px;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}

.subscribe-form input {
    border: 0;
    border-radius: 0px !important;
    box-shadow: none;
    background: #FFF;
    color: #000;
}

.subscribe-form button {
    border: 0;
    border-radius: 0px !important;
    box-shadow: none;
    background: #222;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.pressdownload button {
    margin-top: 8px;
    border: 0;
    border-radius: 0px !important;
    box-shadow: none;
    background: #222;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.pressdownload button:hover {
    outline: none;
    background: #999;
}

.trackdownload {
    margin-top: 20px;
}

.trackdownload button {
    border: 1;
    border-color: white;
    color: white;
    opacity: 0.7;
    border-radius: 0px !important;
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.trackdownload button:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    border: 1;
    border-color: white;
    -webkit-animation: glowsoundcloud 3s ease-in-out infinite;
    -moz-animation: glowsoundcloud 3s ease-in-out infinite;
    -o-animation: glowsoundcloud 3s ease-in-out infinite;
    animation: glowsoundcloud 3s ease-in-out infinite;
}

.subscribe-form button:hover {
    outline: none;
    background: #999;
}

.pressdownload button:focus,
.subscribe-form button:active {
    outline: none !important;
    background: #333;
}

.subscribe-form button:focus,
.subscribe-form button:active {
    outline: none !important;
    background: #333;
}

.subscribe-form .btn-primary[disabled] {
    background: #333;
    border-color: #333;
}

.status-message {
    font-style: italic;
    font-size: 14px;
    color: #FFF;
    height: 26px;
    text-align: center;
}
/*#overlay-about */

.social-icons {
    list-style: none;
    text-align: center;
    padding: 0;
}
/*#overlay-about */

.social-icons li {
    display: inline-block;
}

.social-icons li a {
    opacity: 1;
    color: #fff;
    font-size: 22px;
    border: 0px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 42px;
    background: rgba(0, 0, 0, 0.0);
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.social-icons li a:hover {
    color: #000;
    opacity: 1;
    border: 0px solid #fff;
    background: rgba(255, 255, 255, 1);
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff
}
/** 7. CONTACT
 *****************************************************************/

#overlay-contact {
    overflow: hidden !important;
    position: absolute !important;
    background: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation-duration: 1.4s !important;
    animation-duration: 1.4s !important;
}

#overlay-contact .container {
    text-align: center;
    margin-top: 9%;
}

#overlay-contact h1 {
    color: #000;
    margin-bottom: 15px;
}

#overlay-contact .border {
    background: none repeat scroll 0 0 #999;
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 30px;
}

#overlay-contact p {
    max-width: 410px;
    margin: 0 auto 10px;
    color: #999;
}

#overlay-contact form {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

#overlay-contact form .control-group {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

#overlay-contact form label {
    font-weight: normal;
    float: left;
    color: #999;
    font-family: 'Montserrat', sans-serif;
}

#overlay-contact form input,
textarea {
    overflow: hidden;
    background: #F5F5F5;
    border: none;
    border-radius: 0;
    font-size: 14px;
    height: 50px;
    width: 410px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 3px;
    color: #999;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

#overlay-contact form textarea {
    height: 110px;
    resize: none !important;
}

#overlay-contact form input:focus,
active {
    border: solid 1px #fff;
    outline: none;
    background: #E1E1E1;
}

#overlay-contact form textarea:focus,
active {
    border: solid 1px #fff;
    outline: none;
    background: #E1E1E1;
}

#overlay-contact form button {
    font-family: 'Montserrat', sans-serif;
    background: #222;
    height: 50px;
    color: #fff;
    width: 150px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 0;
    font-size: 18px;
    padding: 0 10px 0 10px;
    float: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#overlay-contact form button:hover,
#contact form button:active {
    outline: none;
    background: #999;
}

.contact-form .status-message-contact {
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
}
/** 8. MEDIA QUERIES
 *****************************************************************/

 @media (min-width: 768px) {
    .modal-dialog {
        width: 760px;
        margin: 30px auto;
    }
}

@media only screen and (max-width: 768px) {
    .content-block {
        padding-left: 15px !important;
    }
    #countdown {
        padding-left: 15px !important;
    }
    .content-block h1 {
        font-size: 50px;
        line-height: 50px;
    }
    #overlay-about .container {
        margin-bottom: 70px;
    }
    .content-block {
        opacity: 0;
        padding-left: 0px !important;
        overflow: hidden !important;
        display: table-cell;
        vertical-align: middle !important;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .input-group,
    .input-group input,
    .input-group .input-group-btn,
    .input-group .btn {
        width: 100%;
        display: block;
        margin: 0 !important;
        text-align: center;
        float: none !important;
    }
    #overlay-contact form .control-group {
        width: 310px;
    }
    #overlay-contact form input,
    textarea {
        width: 310px;
    }
    .content-block {
        padding-left: 3px !important;
    }
    #overlay-about .container {
        margin-bottom: 36px;
    }
    h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 10px;
        line-height: 10px;
    }
    .content-block {
        opacity: 0;
        padding-left: 0px !important;
        overflow: hidden !important;
        display: table-cell;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        padding-top: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .content-block h1 {
        font-size: 40px;
        line-height: 40px;
    }
    #overlay-contact form .control-group {
        width: 250px;
    }
    #overlay-contact form input,
    textarea {
        width: 250px;
    }
}

.flag {
    width: 16px;
    border: 0px;
    vertical-align: middle;
}

.socialrow {
    opacity: 0;
    position: relative;
    /* right: 54px; */
    
    top: 5px;
}

.soundcloud {
    margin-bottom: 10px;
    -webkit-animation: glowsoundcloud 3s ease-in-out infinite;
    -moz-animation: glowsoundcloud 3s ease-in-out infinite;
    -o-animation: glowsoundcloud 3s ease-in-out infinite;
    animation: glowsoundcloud 3s ease-in-out infinite;
}

.trackbtn {
    margin: 0 10px;
    background-color: white;
    color: black;
}

.closetrack {
    position: fixed;
    right: 30px;
    top: 25px;
    color: white!important;
    opacity: 1;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-style: none;
}

.clostetrack:hover {
    opacity: 1;
}

.closetrack:focus {
    outline: none;
}

.close:focus {
    outline: none;
}

.mute {
    position: fixed;
    right: 20px;
    top: 20px;
}

.logolink,
.logolink:hover,
logolink:focus {
    cursor: default;
}

.check {
    position: fixed;
    left: -510px;
    top: -100px;
    z-index: -100;
}

.check2 {
    position: fixed;
    right: -900px;
    top: -100px;
    z-index: -100;
}

.tjrelease {
    pointer-events: none;
}

.release {
    margin-bottom: 30px;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.mgmt {
    display: inline-block;
}

.booking-info {
    opacity: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    /* right: 40px; */
    
    z-index: 1000;
    /* margin-left: 20px; */
}

.booking-info .info {
    position: absolute;
    width: 100%;
    bottom: 30px;
    background: #181415;
    color: #828284;
    font-size: 11px;
    padding: 20px;
    display: none;
}

.booking-info .bookers {
    font-size: 10px;
    /* background: #000; */
    
    color: white;
    padding: 5px;
    text-transform: uppercase;
}
/* MOBILE */

@media only screen and (max-width: 768px) {
    .booking-info {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5px;
        right: 0px;
        z-index: 1000;
        margin-left: 20px;
    }
    .booking-info .bookers {
        font-size: 10px;
        color: white;
        padding: 5px;
        text-transform: uppercase;
    }
    .socialrow {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: 6%;
        right: auto;
    }
}